        /* nav */

        /* .navbar-default {
            position: fixed;
            z-index: 100;
            width: 100%;
            background-color: white !important;
            border-color: #e7e7e7;
            box-shadow: 0px 3px 6px #01355D0D;
        } */


        .bussniessmanimg
        {
            width: 40px !important;
        }

        .sirimg{
            width: 60px !important;
    border-radius: 100%;
        }

        .faqpara{
            height: 165px;
        }

        .croimgdiv {
            margin-right: 15px;
            margin-left: 30px;
        }


        .packagecardrow {
            padding: 4px;
            margin: 0px;
        }
        .packagecard 
        {height: auto;}


        /* .container-fluid {
            padding-right: 4.5% !important;
            padding-left: 4.5% !important;
        } */

        /* .navbar-nav>li>a {
            padding-top: 37px !important;
            padding-bottom: 37px !important;
            padding-right: 1.8vw;
            padding-left: 0;
        }

        .navbar-nav>li {
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0px;
            color: #1E1E1E;
            opacity: 1;
        }

        .navbar-default .navbar-nav>li>a {
            color: #1E1E1E !important;
        }

        .navbar-default .navbar-nav>.active>a {
            background-color: white !important;
            color: #1E1E1E !important;
        } */

        .section1{
            margin-top: 150px;
        }

        .bfdrmo {
            background-color: #F8951D;
            border-radius: 15px;
            /* font: normal normal bold 20px/27px Open Sans; */
            /* font-family: "Open Sans"; */
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #FFFFFF;
            opacity: 1;
            border: none;
            padding: 14px 20px;
        }



        .thanks_head{
            text-align: center;
            font-family: "Montserrat";
            font-weight: bold;
            font-size: 60px;
            letter-spacing: 0px;
            color: #1E1E1E;
            line-height: 70px;
        }

        .thankyou{
            text-align: center;
            font-family: "Montserrat";  
            font-weight: 800;
        
            letter-spacing: 0px;
            color: #F8951D;
        }

        .confirmed{
            text-align: center;
            font-family: "Montserrat";  
            font-weight: 800;
        
            letter-spacing: 0px;
            color: #1ACA1A;
        }


        .bookbtn {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .logo2 {
            width: 194px !important;
            margin-top: -15px !important;
            margin-left: 96%;
            /* margin-left: 60px; */
        }

        .backtohome{
            text-align: center;
            font-family: "Gotham";  
            font-weight: 600;
            font-size: 21px;
            letter-spacing: 0px;
            color: #FAFAFA;
            background: #1E1E1E 0% 0% no-repeat padding-box;
            border-radius: 15px;
            padding: 10px 25px;
            border: none;
            margin-top: 50px;
            opacity: 1;
        }

        .backtohome a{
            color: #FAFAFA;
        }
        .wrightimg{
            margin-top: 124px;
            margin-bottom: 25px;
            width: 80px !important;
        }
        .succ_main{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 15px #5890BB19;
            border-radius: 30px;
            width: 500px;
            padding: 30px 40px;
            opacity: 1;
        }
        .topheading{
            text-align: left;
            /* font: normal normal bold 72px/98px Open Sans; */
            font-family: "open sans";
            font-weight: 700;
            font-size:63px; 
            letter-spacing: 0px;
            color: #1E1E1E;
            line-height: 74px;
        }

        .topheading .gstrcol{
            text-align: left;
            /* font: normal normal 800 72px/98px Open Sans; */
            font-weight: 800;
            font-family: "open sans";
            letter-spacing: 0px;
            color: #F8951D;
        }

        .topheading .expert{
            text-align: left;
            /* font: normal normal 800 72px/98px Open Sans; */
            font-family: "open sans";
            font-weight: 800;
            letter-spacing: 0px;
            color: #1E1E1E;
        }
        .legallogo2{
            width: 253px;
            margin-top: -36px;
        }
        .topheading .minut{
            text-align: left;
            /* font: normal normal 800 72px/98px Open Sans; */
            font-family: "open sans";
            font-weight: 800;
            font-size:65px; 
            letter-spacing: 0px;
            color: #01355D;
        }

        .hpara{
            text-align: left;
            /* font: normal normal normal 20px/35px ; */
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 0px;
            color: #A0A0A0;
            opacity: 1;
        }

        .bookbtn2{
            background: #F8951D ;
            border-radius: 15px;
            /* font: normal normal bold 20px/27px Open Sans; */
            font-family:"Open Sans";
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0px;
            color: #FFFFFF;
            border:none;
            padding: 11px 20px;
            opacity: 1;
            position: relative;
            overflow: hidden;
            display: block;
        
        }


        .bookbtn2::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: var(--shine-effect);
        }
        
        .bookbtn2::before {
            -webkit-animation: shine 2s ease-in-out infinite;
            animation: shine 2s ease-in-out infinite;
        }

        /* .video{
            
        } */

.thunderimage
{
    width: 30px;
}
.clickimage
{
    width: 48px;
}



        .left-div-body {
            padding: 0 10% 0 14%;
            height: 300px;
            margin: 0 auto;
            background: transparent;
            /* box-shadow: inset 0px 0px 69px #00000080; */
            /* border-radius: 15px; */
            opacity: 1;
        }

        .left-div-body1 {
            padding: 0 10% 0 14%;
            height: 300px;
            margin: 0 auto;
            margin-top: 40px;
        }

        .login-iframe iframe{
            border-radius:20px;
        }

        .login-iframe {
            height: 100%;
            width: 98%;
        }

        .packagecardtext1 {
            font-family: 'Open Sans';
            font-size: 12px;
            font-weight: 600;
            color: #1E1E1E;
            line-height: 1.3;
        }

        .colpaddingzero {
            padding: 4px;
        }

        .pleft_bd{
            padding-left: 77px;
        }

        .pleft_bd .topheading{
            margin-bottom: 35px;
        }

        .pleft_bd .hpara{
            margin-bottom: 35px;
        }


        .bookconst
        {
            text-align: left;
            line-height: 1.3;
            font-family: "open sans";
            font-weight: 700;
            font-size:70px; 
            letter-spacing: 0px;
            color: #1E1E1E;
            margin-top: 70px;
        }

        .readyconsline
        {
            text-align: left;
            /* font: normal normal normal 20px/35px ; */
            font-family: "Montserrat";
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 0px;
            color:#1E1E1E;
            opacity: 1;
            line-height: 1.2;
            margin-top: 28px;
            margin-bottom: 32px;
        }

        .bookconstspan1
        {
            font-weight: 800;
            color: #F8951D;
        }

        .bookconstspan2
        {
            font-weight: 800;
            color: #01355D;
        }
        .bookconstimg
        {
            width: 100%;
        }
        .consulationnowsection{
            padding: 0 4%;
        }


        .legal251comparisoncardouterdivmobhide
{
    display: none;
}
.bookconstimg2
{
    width: 70%;
    margin-top: 40px;
}

.bookdemopricingcard
{
    box-shadow: 0px 0px 20px #5890BB26;
    height: auto;
    padding: 25px;
    border-radius: 20px;
}
.icon-light
{
    color: #FFFFFF !important;
}
.icon-orange
{
    color: #F8951D !important;
}


.bookdemopricingcardblack
{
    background-color: #1E1E1E;
}
.pricingcardmaindiv
{
    padding: 0% 6%;
}
.bookdemopricingcardstarterimg
{
    width: 20px;
    margin-top: -5px;
}
.bookdemopricingcardstarterimg2
{
    width: 15px;
    margin-top: -5px;
}
.bookdemopricingcardstarterspan
{
    background-color:rgba(1,53,93,0.1);
    border-radius: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    margin-right: 6px;
    display: inline-block;
}
.bookdemopricingcardstarterspan2
{
    background-color:rgba(248,149,29,0.1);
    border-radius: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    margin-right: 6px;
    display: inline-block;
}


.bookdemopricingcardstartertext
{
    text-align: left;
    line-height: 1.8;
    font-family: "open sans";
    font-weight: 700;
    font-size:20px; 
    letter-spacing: 0px;
    color:#01355D;
}

.pricetagtext
{
    text-align: left;
    line-height: 1.2;
    font-family: "open sans";
    font-weight: 700;
    font-size:36px; 
    letter-spacing: 0px;
    color:#F8951D;
    margin-top: 15px;
    margin-bottom: 10px;
}
.pricetagtextwarn{
    font-family: "open sans";
    font-weight: 600;
    font-size:11px; 
    letter-spacing: 0px;
    color:#1e1e1ecd;
    margin-top: -10px;
}

.monthlpricediv
{
    display: none;
}

.pricetagtextspan
{   font-family: "open sans";
    font-weight: 600;
    font-size:14px; 
    letter-spacing: 0px;
    color:#1E1E1E;
}
.pricingcardgetstartedbtn
{
background-color: #F8951D;
font-family: "open sans";
width: 94%;
height: 50px;
font-weight: 700;
font-size:14px; 
letter-spacing: 0px;
color:#FFFFFF;
border-radius: 10px;
border: none;
margin-bottom: 15px;
margin-top: 15px;
}



.pricingcardheading
{
    font-family: "open sans";
    font-weight: 600;
    font-size:20px; 
    letter-spacing: 0px;
    color:#01355D;
    
}
.organegtickimage
{
    width: 15px;
    margin-right: 5px;
    margin-top: -2px;
}

.displayflexdiv
{
    display: flex;
}

.bottomleft{
    position: absolute;
    bottom: 50%;
    width: 14%;
}
.wctext2{
    text-align: left;
font-family: "Montserrat";  
    font-weight: 600;
    font-size: 16px;
letter-spacing: 0px;
color: #1E1E1E;
margin-bottom: 6px;
opacity: 1;
}
.organegtickimagetext
{
    font-family: "open sans";
    font-weight: 600;
    font-size:14px; 
    letter-spacing: 0px;
    color:#404040;
    margin-bottom: 5px;
}

.organegtickimagetext2
{
    font-family: "open sans";
    font-weight: 600;
    font-size:14px; 
    margin-left: 45px;
    letter-spacing: 0px;
    color:#404040;
    margin-top: -5px;
    margin-bottom: 0px;
}


.pricingplanheading
{
    font-family: "open sans";
    font-weight: 400;
    font-size:16px; 
    letter-spacing: 0px;
    color:#F8951D;
    margin-bottom: 5px;
    text-align: center;
}
.extingplanheading
{
    font-family: "open sans";
    font-weight: 700;
    font-size:42px; 
    letter-spacing: 0px;
    color:#1E1E1E;
    margin-bottom: 5px;
    text-align: center;
}
.extingplanheadingspan1
{
    font-weight: 800;
    color: #F8951D;
}
.extingplanheadingspan2
{
    font-weight: 800;
    color: #01355D;
}

#owl-demo .items {
    padding: 25px 20px;
    margin: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}







/* Testimonials */


.howitwork {
    background-image: url('../images/bookdemo/Mask_Group5751.png');
    background-position-y: 92px;
    background-size: contain;
}

.serviceheader {
    width: 1016px;
    left: 50%;
    margin-left: -508px;
}

#owl-demo1 .select2-container {
    background-color: #F8F8F8;
    /* width: 100% !important; */
    border-radius: 10px !important;
}

/* .select2-container--open{
    width: 90% !important;
} */

#owl-demo1 .select2-container--default .select2-selection--single {
    margin-bottom: 4px;
    margin-top: 4px;
    border-bottom: 0px;
}

#owl-demo1 .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #B9BFBF;
}

#owl-demo1 .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #01355D !important;
    font-size: 12px;
    padding-left: 10px;
}

.login-iframe img {
    cursor: pointer;
    width: 100%
}

.hwork_heading {
    text-align: center;
    /* font: normal normal bold 54px/22px ; */
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #1E1E1E;
}

.hw_gstr {
    text-align: center;
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 0px;
    color: #01355D;
}

.hw_work {
    text-align: center;
    /* font: normal normal 800 54px/22px Open Sans; */
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 0px;
    color: #F8951D;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

#owl-demo1 .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.companyformbtn {
    margin-top: 10px;
    margin-bottom: 10px
}

.hwork_para {
    text-align: center;
    /* font: normal normal normal 20px/35px; */
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #1E1E1E;
    padding-top: 18px;
    padding-bottom: 50px;
    width: 78%;
    opacity: 1;
}

.hgstwork {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px #01355D1A;
    border-radius: 30px;
    width: 87%;
    height: 330px;
    opacity: 1;
    padding: 10px 25px 10px 25px;
    background-image: url('../images/bookdemo/card-bg.png');
    background-size: 28%;
    background-repeat: no-repeat;
    background-position-x: right;
}

.setep1 {
    text-align: left;
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 0px;
    color: #F8951D;
    opacity: 0.2;
}

.uploaddoc {
    /* font: normal normal bold 34px/35px Open Sans; */
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

.uploaddocpara {
    text-align: left;
    /* font: normal normal normal 18px/30px Open Sans; */
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}
.uploadimg2
{display: none;}

.uploadimg {
    margin-top: 37px;
    margin-bottom: 20px
}

.uploadimgcustom1
{
width: 20%;
}
.uploadimgcustom2
{
width: 16%;
}
.uploadimgcustom3
{
width: 12%;
}


.bookdemocardchoiceofmanyimg
{
    position: absolute;
    width: 115px;
    margin-top: -4px;
    right: 2.8%;
}

.savetabdiv
{
    position: absolute;
    background-color: #36CDA4;
    border-radius: 20px;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #fff;
    text-align: center;
    width: 72px;
height: 22px;
text-transform: uppercase;
margin-left: 47px;
margin-top: -20px;
z-index: 10;
padding: 2px;
}
.bookdemoSuggesteddiv
{
    position: absolute;
    width: 94px;
    height: 30px;
    margin-top: -15px;
    left: 38px;
    background-color: #F8951D;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #fff;
    border-radius: 6px;
padding: 5px;
}

.bookdemoSuggesteddiv img
{
    width: 16px;
    margin-top: -2px;
}


.uploaddoc {
    margin-bottom: 15px
}

.uploaddocpara {
    margin-bottom: 40px
}

.aitswork {
    /* display: flex;
    justify-content: space-evenly; */
    margin-bottom: 165px;
    margin-right: 175px;
    margin-left: 175px;
}

.ourAcc {
    text-align: center;
    /* font: normal normal bold 24px/33px ; */
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #1E1E1E;
    margin-bottom: 30px;
}

.achivement {
    text-align: center;
    /* font: normal normal 800 24px/33px ; */
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0px;
    color: #F8951D;
}

.trusted {
    text-align: center;
    /* font: normal normal 800 24px/33px Open Sans; */
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0px;
    color: #01355D;
}

.ourachievement {
    padding: 0px 0px 0px 75px;
    margin-bottom: 150px;
}

.section-sec-body img {
    width: 115px ;
}
.benlogosp
{
    width: 81px !important;
}


.section-sec-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerourtrust {
    padding: 20px 70px;
    /* background-color: #f5f7f9; */
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
}

.otrust {
    margin: 0% 6%;
    margin-bottom: 60px;
}


.testimonal {
    /* font: normal normal normal 20px/35px Open Sans; */
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0px;
    color: #F8951D;
    opacity: 1;
    margin-bottom: 75px;
}

.test_heading {
    text-align: left;
    /* font: normal normal bold 64px/80px Open Sans; */
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 0px;
    color: #1E1E1E;
    margin-bottom: 20px;
    margin-top: 30px;
}

.love {
    text-align: left;
    /* font: normal normal 800 64px/80px Open Sans; */
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 0px;
    color: #EE163E;
}

.client {
    text-align: left;
    /* font: normal normal 800 64px/80px Open Sans; */
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 0px;
    color: #F8951D;

}

.comparesection
{
height: 900px;
background-image: url(../images/bookdemo/Group_9815.png);
background-size: cover;
background-repeat: no-repeat;
padding: 0 4% 0 5%;
}

#comparesection
{height: 70px;}

#Pricing
{height: 136px;}

#reviews
{height: 70px;}


.differencebtnline
{
    text-align: left;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
}

.differencebtnlinespan
{
    color:#F8951D;
}
.differencebtnlinesimg
{
    width:160px;
    margin-top: -10px;
}


.howwecompareheading
{
    text-align: left;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 34px;
}
.serviceprovidehead
{text-align: left;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 27px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 35px;
    margin-bottom: 21px;
}


.test_para {
    text-align: left;
    /* font: normal normal 600 24px/35px ; */
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    line-height: 27px
}

.testmdiv {
    padding-left: 70px
}

.comservicenameheading
{
    text-align: left;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 16.5px;
}
.othercomparsioncardheading
{
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-top: 26px;
    text-align: center;
}

.legal251comparisoncardouterdiv
{
    padding: 0 9%;
}
.compcustomcol
{
    width: 20.5%;
}
.compcustomcol2
{
    width: 26.5%;
}


.legal251comparisoncard
{
    background-color: #FFFFFF;
    border: 2px solid #F8951D;
    border-radius: 20px;
    text-align: center;
    height: auto;
    padding: 0 15px 15px 15px;
}
.othercomparsioncard
{
   
    background-color:  #061C2D;
    border-radius: 20px;
    text-align: center;
    height: auto;
    padding: 0 15px 15px 15px;
}
.complegal251img
{
    width: 195px;
    margin-top: 10px;
    
}
.comptickimg
{
    width: 30px;
    margin-top: 15px;
    display: block;
}
.legal251comparisoncardhr
{
    border-top: 1px dashed #F8951D4D;
    margin: 20px 0;
}
.othercomparsioncardhr
{
    border-top: 1px dashed #061c2d65;
    margin: 20px 0;
}

.bookdemopricingcardblack .planformtext1
{
    color: #FFFFFF;
}



.bookdemopricingcardblack .planform2
{
    color: #FFFFFF;
}

.bookdemopricingcardblack .select2-container
{
    background-color: transparent;
}
.bookdemopricingcardblack .planforminput
{
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}




.bookdemopricingcardblack .select2-container--default .select2-selection--single .select2-selection__arrow b
{
    border-color: #fff transparent transparent transparent;
}

.bookdemopricingcardblack .select2-container--default .select2-selection--single
{
    border-bottom: 2px solid #fff;
}


.bookdemopricingcardblack  .select2-container--default .select2-selection--single .select2-selection__rendered
{
    color: #FFFFFF !important;;
}



.bookdemopricingcardblack .select2-container--default .select2-selection--single .select2-selection__placeholder
{
    color: #FFFFFF ;
}






.pricingselectturnover {
    background-color: #FCFCFC;
    background: #FFFFFF ;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    outline: none;
    width: 420px;
    color: #1E1E1E;
    border-radius: 14px; 
    height: 50px;
    padding: 5px 7px;
    box-shadow: 0px 0px 10px #5890BB33;
    margin-bottom: 38px;
    border: none;
}

.pricingplantwocards
{
    padding: 0 25%;
    
}
.pricingplantonecards
{
    padding: 0 32%;
}



/* taeb-switch styles */
.taeb-switch {
    position: relative;
    color: #1E1E1E;
  }
  
  .taeb-switch:after {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    transition: left cubic-bezier(.88, -.35, .565, 1.35) .4s;
    border-radius: 7px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    height: 100%;
    z-index: 0;
  }
  
  .taeb-switch.left:after {
    left: 0;
  }
  
  .taeb-switch.right:after {
    left: 50%;
  }
  
  .taeb-switch .taeb {
    display: inline-block;
    width: 50%;
    padding: 12px 0;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: color 200ms;
    line-height: normal;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    user-select: none;
  }
  
  .taeb-switch .taeb.active {
    color: #F8951D;
  }
  
  
  .wrapper2 {
    border-radius: 7px;
    background-color: #F7F8FB;
    padding: 4px;
    width: 100%;
    width: 350px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

   /* Quetion Answer */

   .questions_swer {
    text-align: left;
    /* font: normal normal normal 20px/35px Open Sans; */
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0px;
    color: #F8951D;
    opacity: 1;
}

.f_ask_q {
    text-align: left;
    /* font: normal normal bold 48px/35px Open Sans; */
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

.faqhead {
    text-align: left;
    /* font: normal normal 600 20px/35px ; */
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 15px;
    /* width: 350px; */
    padding: 15px 0px;
    line-height: 1.2;
}

.faqhdiv {
    background: #F8951D 0% 0% no-repeat padding-box;
    border-radius: 30px 30px 30px 0px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: center;
    width: 100%;
}

.faqhdiv1 {
    background: #01355D 0% 0% no-repeat padding-box;
    border-radius: 30px 30px 30px 0px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: center;
    width: 100%;
}

.faq {
    display: flex
}

.faqingdiv {
    margin-right: 20px;
}

.faqcontent p {
    text-align: left;
    /* font: normal normal normal 18px/35px ; */
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0px;
    color: #1E1E1E;
    line-height: 29px;
    opacity: 1;
}

.faqcontent {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #5890BB19;
    border-radius: 30px;
    opacity: 1;
    width: 100%;
    padding: 20px 25px;
}

.faqcontent p {
    margin-bottom: 25px;
}

.qa_main_div {
    margin: 0% 7%;
    margin-top: 150px;


}

.Questions_Answered {
    background-image: url('../images/bookdemo/Group%209793.svg');
    background-position-y: 41px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 150px;
}

.questions_swer {
    padding-bottom: 25px;
}

.f_ask_q {
    padding-bottom: 80px;
}

.faq {
    padding-bottom: 20px;
}

.qa_main {
    margin: 20px 0px;
}



.reviewheading {
    font-size: 44px;
    font-family: "Open Sans";
    font-weight: 800;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    margin-top: 90px;
    margin-bottom: 20px;
}




.reviewp {
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    /* padding-top: 15px; */
    width: 54%;
    line-height: 1.2;
}

.Allimg {
    padding-top: 60px;
    background-image: url("../images/review/Mask%20Group%205752.svg");
    background-repeat: no-repeat;
    /* background-position-y: 50px; */
    background-size: contain;
    padding-bottom: 90px;
}

.marlr {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.backimgouterdiv {
    margin: 50px 120px;
}

.backimg {

    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 100%;
    height: auto;
    margin: 4px 0px;
}

.imgdetail {
    display: none;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: left;
    opacity: 1;
    margin: 15px 15px;
    position: absolute;
    bottom: 0%;
    left: 3%;
}

.backimg1 {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 100%;
    height: auto;
    margin: 4px 0px;
}

.padleft {
    padding-left: 6px ;
    margin-bottom: 12px;
}

.pricingplan {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0px;
    color: #F8951D;
    opacity: 1;
}

.wych {
    text-align: left;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    padding-bottom: 15px;
}

.wych_para {
    text-align: left;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    margin-bottom: 20px;
    line-height: 29px;
}

.legal251logo {
    width: 200px;
}

.whychoose2 {
    border-radius: 10px;
    background-image: url('../images/bookdemo/Mask_Group5751.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.whychoose2::before {
    top: -35px;
    left: 0;
    content: '';
    width: 198px;
    height: 198px;
    background: transparent linear-gradient(180deg, #F8951D 0%, #fffde2 100%) 0% 0% no-repeat padding-box;
    opacity: 0.25;
    filter: blur(50px);
    position: absolute;
}

.whychoose2::after {
    top: 154px;
    left: 423px;
    content: '';
    width: 198px;
    height: 198px;
    background: transparent linear-gradient(180deg, #F8951D 0%, #fffde2 100%) 0% 0% no-repeat padding-box;
    opacity: 0.25;
    filter: blur(50px);
    position: absolute;
}

.wctext {
    text-align: left;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    padding-bottom: 15px;
}

.wctext img {
    width: 30px;
    margin-right: 10px;
}

.gooreview {
    width: 300px
}

.whatwchu {
    text-align: center;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 0px;
    color: #1E1E1E;
}

.whatwe {
    text-align: left;
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 44px;
    letter-spacing: 0px;
    color: #01355D;
}

.helpu {
    text-align: left;
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 44px;
    letter-spacing: 0px;
    color: #0080ff;
}

.whatwchdiv {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #01355D19;
    border-radius: 30px;
    opacity: 1;
    width: 200px;
    padding: 25px 0px !important;
}

.whatwch_img1 {
    width: auto !important;
    height: 115px;
    padding-bottom: 25px
}
.whatwch_img2 {
    width: auto !important;
    height: 115px;
    padding-bottom: 25px
}
.whatwch_img3 {
    width: auto !important;
    height: 115px;
    padding-bottom: 25px
}
.whatwch_img4 {
    width: auto !important;
    height: 115px;
    padding-bottom: 25px
}
.whatwch_img5 {
    width: auto !important;
    height: 115px;
    padding-bottom: 25px
}
.whatwch_img6 {
    width: auto !important;
    height: 115px;
    padding-bottom: 25px
}

.whatwch_text {
    text-align: center;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

.reviewheading .valclient {
    background: linear-gradient(271deg, #F8951D 0%, #AE1B1E 51%, #1A2766 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 1;
    transition: 0.5s width ease-in-out;
}

.headeranamition {
    text-align: center;
    color: #d26b54;
    background-image: -webkit-linear-gradient(271deg, #F8951D 0%, #AE1B1E 51%, #1A2766 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.mainwwchy {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.whatwchdiv {
    margin: 0px 15px;
    margin-top: 6px;
}

.bookbtn{
   position: absolute !important;
   right: 6% !important;

}


  /* OWL */

  #helpyou .owl-item img {
    display: block;
    width: 60%;
  }

  #helpyou .owl-nav{
    display: block;
  }

  #helpyou .owl-prev {
    position: absolute;
    top: 96%;
    /* bottom: -25px; */
    left: 40%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #5890BB19;
    border-radius: 15px;
    opacity: 1;
    width: 82px;
    height: 45px;
}

#helpyou .owl-next {
    position: absolute;
    top: 96%;
    /* bottom: -25px; */
    right: 40%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #5890BB19;
    border-radius: 15px;
    opacity: 1;
    width: 82px;
    height: 45px;
}

.togglrsvg{
    border: none;
    width: 65px;
    margin-top: 16px;
}

.togglrsvg:hover{
    background-color: white !important;
}

.whatsupimg{
    width: 24px;
    margin-top: -2px;
    margin-right: 15px;
}
.whatsup{
    padding:  0px;
}

.whatsup{
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 5px;
}
.whatsdiv{
    background-color: #56D062;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.companyformdiv{
    position:relative;overflow-x:hidden
}

.menditory{
    color: red;
}

.morebtn{
    border: none;
    background: white;
}

.readmorearrow{
    width: 27px;
    
}

.readmore{
    margin-top: 5px;
    background-color: #FFFFFF;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
}

.readmore1{
    margin-top: 5px;
    background-color: transparent;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
}

.readmor{
    color: #1E1E1E;
    align-self: center;
    font-family: "Open Sans";
    font-weight: 500;
    font-size:15px;
}

.readmor1{
    color: #FFFFFF;
    align-self: center;
    font-family: "Open Sans";
    font-weight: 500;
    font-size:15px;
}

/* .navbar-nav{
    background-color: white;
} */

.faq1 {
    padding-bottom: 20px;
    width: 100%;
}

#FAQ .owl-prev {
    position: absolute;
    top: 95%;
    /* bottom: -25px; */
    left: 35%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #5890BB19;
    border-radius: 15px;
    opacity: 1;
    width: 82px;
    height: 45px;
}

#FAQ .owl-next {
    position: absolute;
    top: 95%;
    /* bottom: -25px; */
    right: 35%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #5890BB19;
    border-radius: 15px;
    opacity: 1;
    width: 82px;
    height: 45px;
}

.iframew{
    width:100%; 
    height:100%;
}

.whatsdiv{
    position: fixed;
    bottom: 0px;
    z-index: 1;
    width: 100%;
}

.topstar{
    position: absolute;
    top: -40px;
    left: 50px;
    width: 62px;
}

.heartimg{
    width: 50px;
}

.faqfound{
    text-align: right !important;
}

.clientimg{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.testimonialimg{
    width: 58px !important;
    border-radius: 100%;
}

.sirname{
    margin-right: 5px;
    margin-top: 10px;
}

.faqname{
    text-align: right !important;
 }

 #owl-demo1 .owl-dots{
    display: none;
 } 

  @media screen and (min-width: 767px) {
    .mobilelogo{
        display: none;
    }
    #FAQ{
        display: none;
    }
    .hidefaq{
        display: block;
    }
    .resnav{
        display: block;
    }
    .whatsdiv{
        display: none;
    }
  }

  @media (min-width: 992px) {
    .ershideondesk{
        display: none;
    }




  }


  @media screen and (min-width: 767px) {
    /* #owl-demo .owl-item {
        width: 437px !important;
    } */
    #headingOne, #headingTwo, #headingThree, #headingfour, #headingfive, #headingsix, #headingseven, #headingeight,
    #headingnine, #headingten, #headingeleven, #headingtwelve, #headingthirteen, #headingforteen {
        display: none;
    }

  }


  @media (min-width: 1200px) {
    #FAQ .owl-item>div {
        margin-left: -52px;
    }
  }

  @media (max-width: 1560px) {
    .whatwchdiv {
        margin-bottom: 25px;
    }
    .aitswork {
        margin-right: 90px;
        margin-left: 90px;
    }
    .hgstwork{
        width:auto;
        height: auto;
        margin-right: 15px;
    margin-left: 15px;
    }

  }
  
@media screen and  (max-width: 1200px) {
    .complegal251img
    {
        width: 80%;
    }
    .heartimg {
        width: 40px;
    }
    #FAQ .owl-item>div {
        margin-left: -25px;
    }
    .logo2 {
        width: 54% !important;
        margin-top: -20px !important;
        position: relative !important;
        /* margin-left: 60px; */
    }

    .pleft_bd {
        padding: 0px 50px 50px 50px;
    }
    .wych {
        font-size: 40px;
    }
    .love {
        font-size: 40px;
    }
    .extingplanheading {
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    .client {
        font-size: 40px;
    }
    .test_heading {
        font-size: 40px;
    }
    .f_ask_q {
        font-size: 40px;
    }
    .legal251logo {
        width: 170px;
        margin-top: -11px;
    }
    .left-div-body1 {
        margin-top: 17%;
    }
    .aitswork {
        margin-right: 90px;
        margin-left: 90px;
    }
    .section-sec-body img {
        margin-right: 30px;
    }

    .section-sec-body{
        overflow: auto;
        white-space: nowrap;
    }
    .bootbtn2div{
        display: flex;
        justify-content: center;
    }
    .hwork_heading {
        font-size: 40px;
    }
    .hw_gstr {
        font-size: 40px;
    }
    .hw_work {
        font-size: 40px;
    }
    .reviewheading {
        font-size: 40px;
    }
    .whatwchu {
        font-size: 40px;
    }
    .whatwe {
        font-size: 40px;
    }
    .helpu {
        font-size: 40px;
    }

}

@media screen and  (max-width: 1000px) {

    .thanks_head{
        text-align: center;
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 50px;
        letter-spacing: 0px;
        color: #1E1E1E;
        line-height: 60px;
    }

    .logo2 {
        display: none !important;
    }

    #helpyou .owl-prev {
        left: 40%;
    }

    #helpyou .owl-next {
        right: 40%;
    }
.packagecardrow{
    display: flex;
    overflow: scroll;
  white-space: nowrap;
}
.packagecardrow .col-md-2{
width: 180px;

}
.packagecardtext1
{
width: 100%;
}

.colpaddingzero {
    padding: 15px;
}
.qa_main_div {
    margin: 0px 20px;
    margin-top: 46px;
}
    
}

@media screen and  (max-width: 992px) {

    .faqpara {
        height: auto;
    }

    .f_ask_q {
        padding-bottom: 40px;
    }

    .faqpaddleftrig{
        padding-right: 0px ;
        padding-left: 0px ;
    }

    #FAQ{
        padding: 0px 20px ;
    }

    .hidefaq{
        padding: 0px 20px ;
    }
  
    #owl-demo1{
        margin-top: 50px;
    }

    .savetabdiv
{
    margin-left: 30px;
}


    #FAQ .owl-item>div {
        margin-left: 0px;
    }
    .faqcontent p {
        text-align: left;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0px;
        color: #1E1E1E;
        line-height: 1.2;
        opacity: 1;
    }
    .faqhead
    {
        font-size: 14px;
    }


    .faq {
        width: 100%;
    }
  
    .topheading {
        font-size: 55px;
    }
    .topheading .gstrcol {
        font-size: 55px;
    }
    .topheading .expert {
        font-size: 55px;
    }
    .topheading .minut {
        font-size: 55px;
    }
    .hgstwork {
        margin-bottom: 30px;
    }
    .whychoose2 {
        margin-top: 40px;
    }
    #helpyou .owl-prev {
        left: 35%;
    }

    #helpyou .owl-next {
        right: 35%;
    }
    .hpara {
        text-align: center;
    }
    .left-div-body {
        width: 92%;
        padding: 0px;
    }
    .left-div-body1 {
        width: 92%;
        padding: 0px;
    }
    .comparesection{
        height: auto;
    }
    .bookdemopricingcard {
        margin-bottom: 40px;
    }
    .bookconst {
        font-size: 56px;
    }
    .readyconsline {
        font-size: 28px;
    }
    .reshide{
        display: none;
    }
    .bookconstimg4{
        width: 50%;
    }
    .bookconstimg3{
        margin-left: 11%;
        width: 30%;
    }
    .consulationnowsection {
        padding-bottom: 70px;
    }
    .faqcontent {
        width: 100%;
    }
    .faqhdiv, .faqhdiv1{
        width: 90%;
    }
    .testmdiv {
        padding-left: 20px;
    }
    .Questions_Answered {
        padding-bottom: 100px;
    }

   

    #owl-demo .item {
        padding: 25px 20px;
        margin: 10px;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
    }

    #counter {
        display: flex;
        overflow: auto;
        white-space: nowrap;
    }
    .ourachievement {
        padding: 0px 0px 0px 0px;
        margin-bottom: 60px;
    }
    .experiencedisplay {
        padding: 0px 50px;
    }
    .Allimg {
        background-image: none;
    }
}

@media screen and (max-width: 850px) {
    .container-fluid {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}

@media screen and (max-width: 767px) {

    .owlhead
    {
        font-size: 18px !important;
    }
    .complegal251img
    {
        width: 197px;
    }
    .topstar{
        display: none;
    }
    .heartimg {
        width: 35px;
    }
    .pricingcardgetstartedbtn
    {
        width: 100%;
    }

    .resnav{
        display: none;
    }
    .wctext2{
        font-size: 13px;
    }

    .bottomleft{
        position: absolute;
        bottom: 56%;
        width: 14%;
    }
    .succ_main{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 15px #5890BB19;
        border-radius: 30px;
        width: 100%;
        padding: 30px 40px;
        opacity: 1;
    }

    .wrightimg{
        width: 50px !important;
    }

    .legallogo2{
        width: 153px;
        margin-top: -16px;
    }

    .backtohome{
        margin-top: 20px;
        font-size: 17px;
    }

    .thanks_head{
        text-align: center;
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0px;
        color: #1E1E1E;
        line-height: 50px;
    }

    .section1 
    {
        margin-top: 99px;
    }
    .bfdrmo
    {
font-size: 13px;
padding: 11px 20px;
    }
    .bookbtn
    {
        right: initial !important;
padding-left: 15px;
    }


 
    .wrapper2
{
width: 258px;
}

.pricingselectturnover
{
    width: 258px;
}

#FAQ{
    display: block;
}

#owl-demo .item {
    padding: 0px 20px;
    margin: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
.croimgdiv
{
    margin-left: 0px;
}



    .padleft {
        padding-left: 15px ;
    }

    .pricingplantwocards
    {
        padding: 0 ;
        
    }
    .pricingplantonecards
    {
        padding: 0;
    }

    .uploadimg2
    {display: inline-block;}
    
    .uploadimg {
        display: none;
    }
   
    /* .navbar-default {
        height: 70px;
    } */

    .mobilelogo{
        width: 65% !important;
        display: block;
    }

    .moblogo1{
        width: 200px !important;
        display: block;
    }

    .container-fluid {
        background-color: white;
    }
    #helpyou .owl-prev {
        left: 30%;
    }

    #helpyou .owl-next {
        right: 30%;
    }
    .pleft_bd {
        padding: 0px 25px 50px 25px;
    }
    .topheading {
        font-size: 50px;
        text-align: center;
    }
    .topheading .gstrcol {
        font-size: 50px;
        text-align: center;
    }
    .topheading .expert {
        font-size: 45px;
        text-align: center;
    }
    .topheading .minut {
        font-size: 45px;
        text-align: center;
    }
    .left-div-body1 {
        margin-top: 11%;
    }
    .howitwork{
        margin-top: -60px;
        width: 98%;
    }
    .hwork_heading{
        line-height: 70px;
    }
    .hwork_para {
        width: 98%;
    }
    .aitswork {
        margin-right: 10px;
        margin-left: 10px;
    }
    .uploaddocpara {
        font-size: 17px;
    }
    .containerourtrust {
        padding: 20px 20px;
    }
    .otrust {
        margin: 0% 2%;
        margin-bottom: 75px;
    }

    .wctext img {
        width: 20px;
        margin-right: 10px;
    }

    .wctext {
        font-size: 26px ;
    }
    .whychoose2{
        padding: 0px 100px;
    }
    .whatwchu {
        line-height: 50px;
    }
    .compcustomcol, .compcustomcol2  {
        width: 100%;
        margin-bottom: 40px;
    }
.legal251comparisoncardouterdivmobhide
{
    display: block;
}
.legal251comparisoncardouterdivmobhide2
{
    display: none;
}

.comptickimg
{
width: 23px;
}

    .compcustomcol
    {
        display: none;
    }

    .comservicenameheading,.serviceprovidehead {
        text-align: left;
        color: #1E1E1E;
    }
.comptickimg
{
margin: 0px;
margin-right: 14px;
margin-top: 3px;

}
    .faqhdiv, .faqhdiv1{
        width: 77%;
    }
    .faqcontent {
        width:100%;
    }
    .qa_main {
        margin-bottom: 50px;
    }
    .reviewp {
        /* font-size: 22px; */
        width: 96% !important;
        line-height: 29px !important;
    }
    .backimgouterdiv {
        margin: 2px 80px;
    }
    .bookconst {
        font-size: 47px;
    }
    .whychoose2::after {
        top: 626px;
    }
    /* .navbar-nav li a{
        padding: 20px 15px !important;
    }
    .navbar-nav{
        margin-top: 4px;
        margin-left: -20px;
    } */
    .container-fluid {
        padding-right: 10px !important;
        padding-left: 20px !important;
        height: 40px;
    }
    .whychoose2::before {
        top: 26px;
        background: transparent linear-gradient(180deg, #F8951D 100%, #fffde2 100%) 0% 0% no-repeat padding-box;
    }
    .whychoose2::after {
        top: 154px;
        background: transparent linear-gradient(180deg, #F8951D 100%, #fffde2 100%) 0% 0% no-repeat padding-box;
    }
    .whychoose2{
        background-image: none;
    }
    .redmoarrow{
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
    }
    /* .navbar-nav{
        background-color: white;
        padding-bottom: 35px;
    } */
    .aitswork {
        margin-bottom: 30px;
    }
    .hidefaq{
        display: none;
    }
    #FAQ .owl-nav{
        display: block;
    }
    #owl-demo{
        margin-top: 45px;
    }
    #headingOne, #headingTwo, #headingThree, #headingfour, #headingfive, #headingsix, #headingseven, #headingeight,
    #headingnine, #headingten, #headingeleven, #headingtwelve, #headingthirteen, #headingforteen {
        display: flex;
    }
    .whatsdiv{
        display: block;
    }
    
    .pleft_bd {
        padding: 0px 50px 28px 50px;
    }
    .pleft_bd .topheading {
        margin-bottom: 15px;
    }
    .topheading {
        font-size: 45px;
    }
    .topheading .gstrcol {
        font-size: 45px;
    }
}

@media screen and  (max-width: 666px) {
    .whychoose2{
        padding: 0px 50px;
    }
}

@media screen and  (max-width: 600px) {
    .heartimg {
        width: 30px;
    }
    #FAQ .owl-prev {
        position: absolute;
        top: 95%;
        /* bottom: -25px; */
        left: 30%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #5890BB19;
        border-radius: 15px;
        opacity: 1;
        width: 82px;
        height: 45px;
    }
    
    #FAQ .owl-next {
        position: absolute;
        top: 95%;
        /* bottom: -25px; */
        right: 30%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #5890BB19;
        border-radius: 15px;
        opacity: 1;
        width: 82px;
        height: 45px;
    }
}


@media screen and  (max-width: 560px) {
    .whatwch_text
    {
        font-size: 16px;
    }

    .whatwch_img {
        width: auto !important;
        height: 115px;
        padding-bottom: 25px;
    }

    .whychoose2{
        padding: 0px 25px;
    }
    .backimgouterdiv {
        margin: 0px 25px;
    }
    .bookconst {
        font-size: 38px;
    }
    .readyconsline {
        font-size: 26px;
    }
    #owl-demo .item {
        height: auto !important;
    }
}

@media screen and  (max-width: 590px) {

    .section-sec-body img {
        width: 100px ;
    }

    .whatwchdiv {
        margin: 0px 5px !important;
        width: 180px !important;
    }
    #helpyou .owl-prev {
        left: 25%;
    }

    #helpyou .owl-next {
        right: 25%;
    }

    .thunderimage
    {
width: 22px;margin-top: -6px;
    }
    .clickimage
   {
    width: 32px;
    margin-top: -10px;
    }
    .topheading {
        font-size: 40px;
        line-height: 1.2;
    }
    .topheading .gstrcol {
        font-size: 40px;
    }
    .topheading .expert {
        font-size: 40px;
    }
    .topheading .minut {
        font-size: 40px;
    }
    .pleft_bd {
        padding: 0px 10px 50px 10px;
    }
    .left-div-body1 {
        margin-top: 6%;
    }
    .hgstwork {
        margin-right: 0px;
        margin-left: 0px;
        background-image:none;
        padding: 20px;
    }
    .setep1 {
        font-size: 27px;
    }

    .experiencedisplay {
        padding: 0px 30px;
        width: 214px;
    }

    .uploaddocpara {
        margin-bottom: 15px;
    }
    .whychoose2{
        padding: 0px 0px;
    }
    .wctext {
        font-size: 16px;
        padding-bottom: 6px;
    }
    
    .legal251logo {
        width: 160px !important;
    }
    .wych {
        font-size: 20px ;
    }

    .gooreview
    {
        width: 187px;
    }

    .extingplanheading {
        font-size: 28px;
        line-height: 1.2;
    }
    .faqingdiv 
    {
margin: 0px;
    }
    
    
    .reviewheading {
        font-size: 27px;
    }

    .test_para {
        font-size: 16px;
    }


    .test_heading {
        font-size: 33px;
        line-height: 1.2;
    }
    .client {
        font-size: 33px;
        line-height: 1.2;
    }
    .love {
        font-size: 33px;
        line-height: 1.2;
    }
    .extingplanheading {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 19px;
    }
    .f_ask_q {
        font-size: 28px;
        line-height: 1.2;
    }
    .legal251logo {
        width: 100px !important;
    }
    .hwork_heading {
        font-size: 28px;
        line-height: 1.2;
    }
    .hw_gstr {
        font-size: 28px;
        line-height: 1.2;
    }
    .hw_work {
        font-size: 28px;
        line-height: 1.2;
    }
    .whatwchu {
        font-size: 28px;
        line-height: 1.2;
    }

.uploadimgcustom1
{
width: 15%;
}
.uploadimgcustom2
{
width: 10%;
}
.uploadimgcustom3
{
width: 10%;
}


.uploaddoc
{
    font-size: 21px;
}



    .whatwe {
        font-size: 28px;
        line-height: 1.2;
    }
    .helpu {
        font-size: 28px;
        line-height: 1.2;
    }
    .differencebtnline {
        font-size: 29px;
    }
    .moblogo1{
        width: 150px !important;
    }
    #FAQ .owl-prev {
        left: 28%;
    }
    
    #FAQ .owl-next {
        right: 28%;
    }
    .scrollAnim {
        padding: 10px 0px;
    }
}

@media screen and  (max-width: 500px) {
    .amazplat {
        font-size: 17px !important;
    }
    .faqname{
        text-align: right !important;
     }

     .bussniessmanimg{
        margin-top: 10px;
     }
}

@media screen and  (max-width: 430px) {
    .amazplat {
        font-size: 13px !important;
    }
    .ptext
    {
        
    }

    .whatwchdiv {
        width: 150px !important;
    }
    #helpyou .owl-prev {
        left: 20%;
    }

    #helpyou .owl-next {
        right: 20%;
    }
    .backimgouterdiv {
        margin: 0px 5px;
    }
    #FAQ .owl-prev {
        left: 24%;
    }
    
    #FAQ .owl-next {
        right: 24%;
    }
    /* .ratestar{
        display: block !important;
    } */
    .cords{
        width: 60% !important;
    }
    .bussniessmanimg
        {
            width: 40px !important;
        }

        .sirimg {
            width: 60px !important;
            border-radius: 100%;
        }
        .testimonialimg {
            width: 58px !important;
            border-radius: 100%;
        }
    .ratestar img{
        margin-left: 35px;
        width: 60px!important;
    }
    #owl-demo1 .owlcard {
        padding: 20px;
    }
}

@media screen and  (max-width: 400px) {
    #owl-demo1 .owlcard {
        padding: 15px !important;
    }
    .cords {
        width: 55% !important;
    }
    .bussniessmanimg
        {
            width: 40px !important;
        }
        .sirimg {
            width: 60px !important;
            border-radius: 100%;
        }
        .testimonialimg {
            width: 58px !important;
            border-radius: 100%;
        }
    .ratestar img {
        margin-left: 0 !important;
        width: 55px!important;
    }
    .readyconsline {
        font-size: 23px;
    }
    .bookconst {
        font-size: 32px;
    }
    .pleft_bd {
        padding: 0px 10px 23px 10px;
    }
    .pleft_bd .topheading {
        margin-bottom: 15px;
    }
    .pleft_bd .hpara {
        margin-bottom: 15px;
    }
    .topheading {
        font-size: 35px;
    }
    .topheading .gstrcol {
        font-size: 35px;
    }
    .topheading .expert {
        font-size: 35px;
    }
    .topheading .minut {
        font-size: 35px;
    }
    .hpara {
        font-size: 14px;
    }
    .bookbtn2 {
        font-size: 14px;
    }
    .left-div-body {
        height: 199px;
    }
    
}


@media screen and  (max-width: 350px) {
    .whatwchdiv {
        width: 100% !important;
    }
    #helpyou .owl-prev {
        left: 17%;
    }

    #helpyou .owl-next {
        right: 17%;
    }
    #FAQ .owl-prev {
        left: 22%;
    }
    
    #FAQ .owl-next {
        right: 22%;
    }
    .ratestar {
        display: block !important   ;
    }
    .ratestar img {
        margin-left: 80px;
        width: 64px!important;
    }
}
