@font-face {
  font-family: 'Gotham-bold';
  src: url('font/Gotham%20Bold.html');
  font-style: bolder;
}
nav.navbar.bootsnav ul.nav > li{ margin-right: 20px; }
nav.navbar.bootsnav ul.nav > li > a{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  position: relative;
}

nav.navbar.bootsnav ul.nav > li.dropdown > a{
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  padding: 0px;
  border: none;
}




nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
position: absolute;
top: 10px;
right: 0px;
}
nav.navbar.bootsnav ul.nav > li.dropdown > ul{
top: 100%;

}
nav.navbar.bootsnav ul.nav > li.dropdown.on > ul{ top: 100%; }
.dropdown-menu.multi-dropdown{
position: absolute;
left: -100% !important;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
border: none;
border-radius: 10px;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content li{ font-size: 14px; }

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
font-size: 20px;
font-weight: bold;
color:#f8951d;
font-family: 'Gotham-bold';
}
 .title2{
  color: #2d2d2d;
  font-family: 'Gotham-bold';
  font-size: 16px;
  margin-top: 13px;
  margin-left: 7px;
  font-weight: bold;
  }


  .smallink
  {
    font-size: 13px !important;
    line-height: 1.3;
    margin-bottom: 7px !important;
  }

  .custommar
  {
    margin-top: 18px !important;
  }

.smalllitext
  {
    font-size: 11px !important;
  }
  @media (max-width: 1490px) {
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
      font-size: 18px;
      font-weight: bold;
      color:#f8951d;
      font-family: 'Gotham-bold';
      }
      nav.navbar.bootsnav ul.nav > li.dropdown > a{
        text-transform: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        padding: 0px;
        border: none;
      }
  }

  @media (max-width: 1390px) {
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
      font-size: 17px;
      font-weight: bold;
      color:#f8951d;
      font-family: 'Gotham-bold';
      }
      nav.navbar.bootsnav ul.nav > li.dropdown > a{
        text-transform: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 15px;
        padding: 0px;
        border: none;
      }

      .textres{
        font-size: 15px;
      }
  }

  @media (max-width: 1200px) {
    .textres{
      font-size: 16px;
    }
  }
