.langconv{
  display: none;
}



  /* ****************** TDS Calculator ************** */
  #tdscalculator form {
    width: 60%;
  }
  
  #tdscalculator form h3 {
    color: #01355d;
    margin-bottom: 30px;
  }
  
  #tdscalculator form select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-weight: bolder;
    color: #01355d;
    background-color: whitesmoke;
    border: none;
  }
  
  #tdscalculator form button {
    border: 2px solid #f6941d;
    font-weight: bolder;
    color: #01355d;
    border-radius: 50px;
    padding: 5px 40px;
    font-size: large;
  }
  
  /* .tds_back_color{
  background-color: #fcf8f3;
  position: absolute;
  width: 100%;
  height: 350px;
  } */
 
  /* .tds_f_s{
    background-color:#fcf8f3;
  } */
   
 
  
  /* ********************* TDs Result ******************* */
  #tds_para {
    font-size: 12px;
    padding: 0px 40px;
  }
  
  .hra_res button {
    margin-top: 20px;
    font-weight: bolder;
    padding: 5px 25px;
  }
  
  
    /* ********* TDS calculator ********** */
    #tdscalculator form {
      width: 100%;
    }
  
    #tdscalculator form h3 {
      color: #01355d;
      margin-bottom: 10px;
    }
  
    #tdscalculator form select {
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      font-weight: bolder;
      color: #01355d;
      background-color: whitesmoke;
      border: none;
    }
  
    #tdscalculator form button {
      border: 2px solid #f6941d;
      font-weight: bolder;
      color: #01355d;
      border-radius: 50px;
      padding: 5px 40px;
      font-size: large;
    }
  
   
  
    .tds_amount_payment_sty:focus{
      box-shadow: none ;
    }
  
    .tds_pan_v{
      color: Red;
      margin-top: 2px;
      display: none;
    }
  
    .tds_amount_pay_v{
      color: Red;
      margin-top: 2px;
      display: none;
    }
  
    .tds_recipient_v{
      color: Red;
      margin-top: 2px;
      display: none;
    }
  
    .tds_nature_pay_v{
      color: Red;
      margin-top: 2px;
      display: none;
    }

    .tds_cal_result{
        display: none;
      }