<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="theme-color" content="#f8951d" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="https://legal251.com/images/common/favicon.png">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.theme.default.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://legal251.com/css/bootsnav.css">
<link rel="stylesheet" type="text/css" href="https://legal251.com/css/new-hover.css">
<link rel="stylesheet" type="text/css" href="https://legal251.com/css/header.css">
<link rel="stylesheet" type="text/css" href="https://legal251.com/css/plugins.css" />
<link rel="stylesheet" type="text/css" href="https://legal251.com/css/style.css" />
<link rel="stylesheet" type="text/css" href="https://legal251.com/css/navbar.css">
<link rel="stylesheet" href="https://legal251.com/css/services.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<title>Page Not Found</title><script src="https://legal251.com/js/googleandmetascript.js"></script>
</head>
<body>
<div style="position:relative;overflow-x:hidden">
<div style="position:relative;overflow-x:hidden">
<div class="wrapper">
<div class="row r1 animatable slower fadeInDown">
</div>
</div>
<div class="input-group popupsearchbar" style="position: absolute;display: none; position: fixed;">
<input type="text" autocomplete="off" id="pop-input" name="search_entered" class="form-control Searchbar1" name="email" placeholder="Search..." style="box-shadow: none;border-color:#2d2d2d">
<div class="pop-data" style="position: absolute;">
</div>
<div class="input-group-btn">
<div class="input-group-addon" id="hide" style="padding:0px;background-color:transparent;border:none">
<div class="popupsearchbaraddon">
<img src="https://legal251.com/images/closeicon.svg" class="subscribeemailclose">
</div>
</div>
</div>
</div>
<div class="sidebarmain">
<img src="https://legal251.com/images/sidebarshape.png" style="position: absolute;height: 100%;z-index:-1;">
<img src="https://legal251.com/images/cancel.svg" style="cursor:pointer;width:3.6vh;margin-top:1.5vh;z-index:100;margin-left:1.2vh;position: absolute;" onclick="closesidebarmain()">
<div style="padding-left:5.9vh;">
<div class="sidebarmainsection">
<p class="sidebarmainheading"><a href="https://legal251.com/how-we-work"><img src="https://legal251.com/images/howwework.svg" class="sidebarimage2"></a></p>
<center><a class="sidebarmainheading" href="https://legal251.com/how-we-work" style="text-align: center; color: #fff;"> How we work</a> </center>
</div>
<div class="sidebarmainsection">
<p class="sidebarmainheading"><a href="https://legal251.com/how-to-get-consultancy"><img src="https://legal251.com/images/howtogetcon.svg" class="sidebarimage1"></a></p>
<center><a class="sidebarmainheading" href="https://legal251.com/how-to-get-consultancy" style="line-height:1.3;text-align: center;  color: #fff;">How to get <br>Consultancy
</center>
</a>
</div>
<div class="sidebarmainsection">
<p class="sidebarmainheading"><a href="https://blog.legal251.com"><img src="https://legal251.com/images/blog.svg" class="sidebarimage1"></a></p>
<center><a class="sidebarmainheading" href="https://legal251.com/resources/" style="text-align: center;
							color: #fff;">Blog</a> </center>
</div>
<div class="sidebarmainsection">
<p class="sidebarmainheading"><a href="https://legal251.com/about"><img src="https://legal251.com/images/aboutus.svg" class="sidebarimage1"></a></p>
<center> <a class="sidebarmainheading" href="https://legal251.com/about" style="text-align: center;
    color: #fff;">About Us</a></center>
</div>
<div class="sidebarmainsection">
<p class="sidebarmainheading"><a href="https://legal251.com/contact"><img src="https://legal251.com/images/contactus.svg" class="sidebarimage2"></a></p>
<center><a class="sidebarmainheading" href="https://legal251.com/contact" style="text-align: center;
    color: #fff;">Contact Us</a> </center>
</div>
</div>
</div>


<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N37QCKM" height="0" width="0"
              style="display:none;visibility:hidden"></iframe></noscript>


<nav class="navbar navbar-default bootsnav" id="nav1" style="position:fixed;width:100%;z-index:10">
<div class="trackserviceheader" id="trackservicediv">
<div class="phonenoheader">
<a target="_blank" href="https://wa.me/917772877729/?text=917772877729&amp;text=Hello%20Team%20Legal251!"> <img class="phonenoheaderwhatsapp" src="https://legal251.com/images/whatsapp.svg"> </a>&nbsp;&nbsp; <a style="color: #2d2d2d" href="tel:7772877729"> <img src="https://legal251.com/images/phoneno.svg" class="phonenoheaderlogo">(+91)77728-77729 </a>
</div>
<div class="dropdown mydropdownclass" style="color: #2d2d2d">
<button class="userloginbutton  dropdown-toggle" type="button" data-toggle="dropdown">
Login <img src="https://legal251.com/images/common/login.svg" class="userloginicon">
</button>
<ul class="dropdown-menu dropdown-menu2   specialdropul2">
<li><a href="https://user.legal251.com/"><img src="https://legal251.com/images/common/Path_1.svg" class="userlogindropicon">
&nbsp;User Login</a></li>
<li><a href="https://partners.legal251.com/"><img src="https://legal251.com/images/common/agent.svg" class="userlogindropicon2">
&nbsp;Partner Login</a></li>
</ul>
</div>
<a href="https://legal251.com/track-service" style="color: #2d2d2d">
<button class="trackservicebutton">
<p style="display:inline-block;top:0px;">Track<br> Service</p><img src="https://legal251.com/images/trackservice.svg" class="trackserviceicon">
</button>
</a>
<div class="trackservicebuttonmobdiv dropdown">
<button class="trackservicebuttonmob dropdown-toggle" type="button" data-toggle="dropdown">
User Services<img src="https://legal251.com/images/common/Group_7.svg" class="userloginicon"></button>
<ul class="dropdown-menu dropdown-menu-right specialdropul">
<li><a href="https://user.legal251.com/"><img src="https://legal251.com/images/common/Path_1.svg" class="userlogindropicon"> &nbsp;User Login</a></li>
<li><a href="https://legal251.com/track-service"><img src="https://legal251.com/images/common/Group_3.svg" class="userlogindropicon"> &nbsp;Track Service</a></li>
<li><a href="https://partners.legal251.com/"><img src="https://legal251.com/images/common/agent.svg" class="userlogindropicon2">
&nbsp;Partner Login</a></li>
</ul>
</div>
</div>
<div class="container-fluid" style="background-color: transparent">

<div class="attr-nav">
<ul class="pal">
<li class="search"><a href="#" style="margin-top:2px;"><img src="https://legal251.com/images/sidesearchicon.svg" class="navSearchbaricon" id="show" style="width:20px;"></a></li>
<li class="menu"><a style="margin-top:3px;"><img src="https://legal251.com/images/star.svg" class="sidemenuicon burger1" style="width:23px;cursor:pointer;"></a></li>
</ul>
</div>


<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu" id="testingside" style="background-color:transparent;">
<i class="fa fa-bars" style="font-size:25px;background-color:transparent;"></i>
</button>
<a class="navbar-brand" href="https://legal251.com">
<center><img src="https://legal251.com/images/common/legal.svg" class="logo mainlogo" alt>
</center>
</a>
</div>


<div class="collapse navbar-collapse" id="navbar-menu">
<ul class="nav navbar-nav navbar-right" data-in data-out>
<li class="dropdown megamenu-fw ">
<a href="#" class="dropdown-toggle mytext m_togle">Start Business
<i class="fa fa-angle-down down_arrow_hide" aria-hidden="true" style="display:inline-block;"></i>
</a>
<ul class="bimage dropdown-menu megamenu-content " role="menu">
<li class="allcontent allcontent12">
<div class="row ">
<div class="col-menu col-md-5">
<div class="megamenu_heading">

<img class="megamenu_title_img" src="https://legal251.com/images/megamenubimage/Group_5675.png" loading="lazy">
<div><span class="title mtitle " data-toggle="dropdown">Start Business
</span></div>
<hr class="headinghr">
</div>
<div class="content">
<ul class="menu-col" id="id01">
<li class="incontent"><a class="text" href="https://legal251.com/partnership-deed"><img class="megamenu_icon" src="https://legal251.com/images/icons/partnership-deed.svg" loading="lazy">
<span class="hvr-sweep-to-right textres">Partnership Deed</span></a>
</li>
<li class="incontent"><a class="text" href="https://legal251.com/private-limited-company-registration"><img class="megamenu_icon" src="https://legal251.com/images/icons/company-reg.svg" loading="lazy"> <span class="hvr-sweep-to-right textres">Pvt. Ltd. Company
Registration</span></a></li>
<li class="incontent"><a class="text" href="https://legal251.com/section-8-company-registration"><img class="megamenu_icon" src="https://legal251.com/images/icons/section8-reg.svg" loading="lazy">
<span class="hvr-sweep-to-right textres">Section 8 Company
Registration</span></a></li>
<li class="incontent"><a class="text" href="https://legal251.com/llp-company-registration"><img class="megamenu_icon" src="https://legal251.com/images/icons/llp.svg" loading="lazy"> <span class="hvr-sweep-to-right textres">LLP Company
Registration</span></a></li>
<li class="incontent"><a class="text" href="https://legal251.com/opc-one-person-company-registration"><img class="megamenu_icon" src="https://legal251.com/images/icons/opc.svg" loading="lazy"> <span class="hvr-sweep-to-right textres">OPC Company
Registration</span></a></li>
</ul>
</div>
</div>
<div class="col-menu col-md-5">
<div class="megamenu_heading">
<img class="megamenu_title_img" src="https://legal251.com/images/megamenubimage/Group_5675.png" loading="lazy">
<div><span class="title mtitle">Compliance</span></div>
<hr class="headinghr">
</div>
<div class="content">
<ul class="menu-col" id="id01">
<li class="incontent"><a class="text" href="/annual-compliance-llp"> <img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/annualcompliancellp.svg" loading="lazy"> <span class="hvr-sweep-to-right textres">Annual Compliance LLP</span></a></li>
<li class="incontent"><a class="text" href="/annual-compliance-company"> <img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/AnnualCompliancePvt.Ltd..svg" loading="lazy"> <span class="hvr-sweep-to-right textres">Annual Compliance Pvt.
Ltd.</span></a></li>
<li class="incontent"><a class="text" href="/cma-report"> <img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/CMAReport.svg" loading="lazy"> <span class="hvr-sweep-to-right textres">CMA Report</span></a></li>
</ul>
</div>
</div>
</div>
</li>
</ul>
</li>
<li class="dropdown megamenu-fw ">
<a href="#" class="dropdown-toggle mytext5 m_togle">Change in Business
<i class="fa fa-angle-down down_arrow_hide" aria-hidden="true" style="display:inline-block;"></i></a>
<ul class="bimage dropdown-menu megamenu-content lopadd" role="menu">
<li class="allcontent newincontent allcontent12">
<div class="row col-menu">
<div class="megamenu_heading">
<img class="megamenu_title_img" src="https://legal251.com/images/megamenubimage/Group_5675.png" loading="lazy">
<div><span class="title mtitle">Change in Business </span></div>
<hr class="headinghr">
</div>
<div class="col-menu col-md-5 dview">
<div class="content">
<ul class="menu-col" id="id01">
<li class="incontent">
<div style="display: flex">
<div>
<img class="megamenu_icon" src="https://legal251.com/images/icons/Group 5917.svg" loading="lazy">
</div>
<div>
<a class="text" href="https://legal251.com/dissolution-of-deed">
<span class="hvr-sweep-to-right textres">Dissolution of
deeds</span></a>
</div>
</div>
</li>
<li class="incontent">
<div style="display: flex">
<div>
<img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/AddressAmendmentWithinstate(LLP).svg" loading="lazy">
</div>
<div>
<a class="text" href="/address-amendment-within-state-llp"><span class="hvr-sweep-to-right textres"> Address Amendment Within state
(LLP)</span></a>
</div>
</div>
</li>
<li class="incontent">
<div style="display: flex">
<div>
<img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/AddressAmendmentWithinstate(Company).svg" loading="lazy">
</div>
<div>
<a class="text" href="/address-amendment-within-state-company"><span class="hvr-sweep-to-right textres"> Address Amendment Within state
(Company)</span></a>
</div>
</div>
</li>
<li class="incontent">
<div style="display: flex">
<div>
<img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/AddressAmendmentoutofstate(LLP).svg" loading="lazy">
</div>
<div>
<a class="text" href="/address-amendment-out-state-llp"><span class="hvr-sweep-to-right textres">Address Amendment out of state
(LLP)</span></a>
</div>
</div>
</li>
<li class="incontent">
<div style="display: flex">
<div>
<img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/AddressAmendmentoutofstate(Company).svg" loading="lazy">
</div>
<div>
<a class="text" href="/address-amendment-out-state-company"><span class="hvr-sweep-to-right textres"> Address Amendment out of state
(Company)</span></a>
</div>
</div>
</li>
</ul>
</div>
</div>
<div class="col-menu col-md-3 dview">
<div class="content">
<ul class="menu-col" id="id01">
<li class="incontent"><a class="text" href="/add-director"> <img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/AddDirector(company).svg" loading="lazy"> <span class="hvr-sweep-to-right textres">Add Director
(company)</span></a></li>
<li class="incontent"><a class="text" href="/add-partner"> <img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/AddPartner(LLP).svg" loading="lazy"> <span class="hvr-sweep-to-right textres">Add Partner
(Company)</span></a></li>
<li class="incontent">
<div style="display: flex">
<div>
<img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/IncreaseCapital(LLP).svg" loading="lazy">
&nbsp;
</div>
<div>
<a class="text" href="/increase-capital-llp"> <span class="hvr-sweep-to-right textres">Increase Capital (LLP)</span></a>
</div>
</div>
</li>
<li class="incontent">
<a class="text" href="/change-in-name-llp"> <img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/ChangeInNameofLLP.svg" loading="lazy" /> <span class="hvr-sweep-to-right">Change In Name of LLP</span>
</a>
</li>
</ul>
</div>
</div>
<div class="col-menu col-md-4 dview">
<div class="content">
<ul class="menu-col" id="id01">
<li class="incontent"><a class="text" href="/remove-director"> <img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/removeDirector(company).svg" loading="lazy"> <span class="hvr-sweep-to-right">Remove Director
(Company)</span></a></li>
<li class="incontent"><a class="text" href="/remove-partner"> <img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/RemovePartner(LLP).svg" loading="lazy"> <span class="hvr-sweep-to-right textres">Remove Partner
(LLP)</span></a></li>
<li class="incontent">
<div style="display: flex">
<div>
<img class="megamenu_iconspecial" src="https://legal251.com/images/icons/newicons/IncreaseCapital(Company).svg" loading="lazy">
&nbsp;
</div>
<div>
<a class="text" href="/increase-capital-company"> <span class="hvr-sweep-to-right textres">Increase Capital (Company)</span></a>
</div>
</div>
</li>
<li class="incontent"><a class="text" href="/change-in-name-company"> <img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/ChangeInNameofCompany.svg" loading="lazy"> <span class="hvr-sweep-to-right textres">Change In Name of Company
</span></a></li>
</ul>
</div>
</div>
</div>
</li>
</ul>
</li>
<li class="dropdown megamenu-fw">
<a href="#" class="dropdown-toggle mytext1 m_togle">Registrations
<i class="fa fa-angle-down down_arrow_hide" aria-hidden="true" style="display:inline-block;"></i></a>
<ul class="bimage dropdown-menu megamenu-content rpadd" role="menu">
<li class="allcontent incontentnew allcontent12">
<div class="row">
<div class="row col-menu">
<div class="megamenu_heading">
<img class="megamenu_title_img" src="https://legal251.com/images/megamenubimage/Group_5675.png" loading="lazy">
<div><span class="title mtitle">Registrations </span></div>
<hr class="reheadinghr">
</div>
<div class="col-menu col-md-4 dview">
<div class="content ">
<ul class="menu-col" id="id01">
<li class="incontent"><a class="text" href="https://legal251.com/import-export-license" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/NoPath - Copy (4).svg" loading="lazy">
<span class="hvr-sweep-to-right textres">Import Export License
(IEC)</span>
</a>
</li>
<li class="incontent"><a class="text" href="https://legal251.com/icegate-registration" class="singlemenua"> <img class="megamenu_icon" src="https://legal251.com/images/icons/Group 5910.svg" loading="lazy">
<span class="hvr-sweep-to-right textres">ICEGATE
Registration</span> </a></li>
<li class="incontent"><a class="text" href="https://legal251.com/msme-udhyam-registration" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group 5911.svg" loading="lazy">
<span class="hvr-sweep-to-right textres">MSME
Registration</span></a></li>
<li class="incontent"><a class="text" href="https://legal251.com/society-registration" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group 5912.svg" loading="lazy">
<span class="hvr-sweep-to-right textres">Society
Registration</span></a></li>
<li class="incontent"><a class="text" href="https://legal251.com/pf-registration" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group 5913.svg" loading="lazy"><span class="hvr-sweep-to-right textres">PF Registration</span>
</a></li>
</ul>
</div>
</div>
<div class="col-menu col-md-4 dview">
<div class="content">
<ul class="menu-col" id="id01">
<li class="incontent"><a href="https://legal251.com/professional-tax-registration" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/proffessional.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Professional Tax
Registration</span> </a></li>
<li class="incontent"><a href="https://legal251.com/gumasta-licence" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group_5632_1.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Gumasta License</span>
</a></li>
<li class="incontent"><a href="https://legal251.com/trademark-registration" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group_3625_2.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Trade Mark
Registration</span> </a> </li>
<li class="incontent"><a href="https://legal251.com/esic-registration" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group_6897.png" loading="lazy"><span class="hvr-sweep-to-right textres">ESIC
Registration</span></a></li>
</ul>
</div>
</div>
<div class="col-menu col-md-4 dview">
<div class="content">
<ul class="menu-col" id="id01">
<li class="incontent"><a href="https://legal251.com/gst-registration" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group 5915.svg" loading="lazy"><span class="hvr-sweep-to-right textres">GST Registration</span>
</a></li>
<li class="incontent"><a href="https://legal251.com/food-licence" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group_5645_1.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Food Licence</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/trade-licence" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group_5631_1.svg" loading="lazy">
<span class="hvr-sweep-to-right textres">Trade Licence</span>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</li>
</ul>
</li>
<li class="dropdown megamenu-fw ">
<a href="#" class="dropdown-toggle mytext2 m_togle">Filing & More
<i class="fa fa-angle-down down_arrow_hide" aria-hidden="true" style="display:inline-block;"></i></a>
<ul class="bimage dropdown-menu megamenu-content" role="menu">
<li class="allcontent allcontent12">
<div class="row">
<div class="row col-menu m_mar">
<div class="col-menu col-md-4 col-lg-5 pleft fpadd ">
<div class="megamenu_heading">
<img class="megamenu_title_img" src="https://legal251.com/images/megamenubimage/Group_5675.png" loading="lazy">
<div><span class="title mtitle">Filings </span></div>
<hr class="reheadinghr">
</div>
<div class="content">
<ul class="menu-col" id="id01">
<li class="incontent"><a href="https://legal251.com/gst-return-filing"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group_3506_1.svg" loading="lazy"><span class="hvr-sweep-to-right textres">GST Return Filing</span>
</a></li>
<li class="incontent"><a href="https://legal251.com/income-tax-return-filing"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group_3507_1.svg" loading="lazy"><span class="hvr-sweep-to-right textres">ITR Filing</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/tds-return-filing"><img class="megamenu_icon" src="https://legal251.com/images/icons/newicons/tdsrf.svg" loading="lazy"><span class="hvr-sweep-to-right textres">TDS Return Filing</span>
</a></li>
</ul>
</div>
</div>
<div class="col-menu col-md-3 col-lg-3 pleft ">
<div class="megamenu_heading">
<img class="megamenu_title_img" src="https://legal251.com/images/megamenubimage/Group_5675.png" loading="lazy">
<div><span class="title mtitle maxcon">Accounting </span></div>
<hr class="headinghr">
</div>
<div class="content">
<ul class="menu-col" id="id01">
<li class="incontent li_dview newincontent"><a href="https://legal251.com/online-accounting"><img class="megamenu_icon megamenu_iconspecial" src="https://legal251.com/images/icons/Layer_2_1.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Online Accounting</span>
</a></li>
</ul>
</div>
</div>

</div>
</div>
</li>
</ul>
</li>
<li class="dropdown megamenu-fw">
<a href="#" class="dropdown-toggle mytext3 m_togle">Drafting <i class="fa fa-angle-down down_arrow_hide" aria-hidden="true" style="display:inline-block;"></i></a>
<ul class="bimage dropdown-menu megamenu-content dpadd" role="menu">
<li class="allcontent newincontent allcontent12">
<div class="row col-menu">
<div class="megamenu_heading">
<img class="megamenu_title_img" src="https://legal251.com/images/megamenubimage/Group_5675.png" loading="lazy">
<div><span class="title mtitle">Drafting </span></div>
<hr class="reheadinghr">
</div>
<div class="col-menu col-md-4 dcol">
<div class="content">
<ul class="menu-col" id="id01">
<li class="incontent"><a href="https://legal251.com/legal-drafting" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/movie-copyright_1.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Legal Drafting</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/rent-agreement" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group 5918.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Rent Agreement</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/noc-no-objection-certificate" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group 5919.svg" loading="lazy"><span class="hvr-sweep-to-right textres"> NOC</span></a></li>
<li class="incontent"><a href="https://legal251.com/affidavit" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group 5920.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Affidavit</span> </a></li>
<li class="incontent"><a href="https://legal251.com/power-of-attorney" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group 5921.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Power of Attorney</span> </a>
</li>
</div>
</div>
<div class="col-menu col-md-5">
<div class="content">
<ul class="menu-col" id="id01">
<li class="incontent"><a href="https://legal251.com/will" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/NoPath - Copy (17).svg" loading="lazy"><span class="hvr-sweep-to-right">Will</span> </a></li>
<li class="incontent"><a href="https://legal251.com/application" class="singlemenua"><img class="megamenu_icon" src="https://legal251.com/images/icons/appf.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Application Form</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/nda-non-disclosure-agreement-online"><img class="megamenu_icon" src="https://legal251.com/images/icons/nda.png" loading="lazy"><span class="hvr-sweep-to-right textres">NDA Drafting</span> </a></li>
<li class="incontent"><a href="https://legal251.com/privacy-policy-drafting-online"><img class="megamenu_icon" src="https://legal251.com/images/icons/user-privacy_1.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Privacy Policy
Drafting</span></a></li>
<li class="incontent"><a href="https://legal251.com/terms-and-conditions-drafting-online"><img class="megamenu_icon" src="https://legal251.com/images/icons/tnc.png" loading="lazy"><span class="hvr-sweep-to-right textres">Terms and Conditions
Drafting</span> </a></li>
</ul>
</div>
</div>
</div>
</li>
</ul>
</li>
<li class="dropdown megamenu-fw ">
<a href="#" class="dropdown-toggle mytext4 m_togle">Legal Issues <i class="fa fa-angle-down down_arrow_hide" aria-hidden="true" style="display:inline-block;"></i></a>
<ul class="bimage dropdown-menu megamenu-content lepadd " role="menu">
<li class="allcontent newincontent allcontent12">
<div class="row">
<div class="col-menu col-md-4">
<div class="megamenu_heading">
<img src="https://legal251.com/images/megamenubimage/Group_5675.png" loading="lazy">
<div><span class="title mtitle textres">Legal Reply </span></div>
<hr class="headinghr">
</div>

<div class="content le_cpadd">
<ul class="menu-col" id="id01">
<li class="incontent"><a href="https://legal251.com/legal-notice-reply"><img class="megamenu_icon" src="https://legal251.com/images/icons/legalreply.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Legal Notice Reply</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/legal-claim-help"><img class="megamenu_icon" src="https://legal251.com/images/icons/baggage-claim.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Legal Advice</span></a></li>
</ul>
</div>
</div>
<div class="col-menu col-md-4">
<div class="megamenu_heading">
<img src="https://legal251.com/images/megamenubimage/Group_5675.png" loading="lazy">
<div><span class="title mtitle">Legal Notice </span></div>
<hr class="headinghr">
</div>
<div class="content le_cpadd">
<ul class="menu-col" id="id01">
<li class="incontent"><a href="https://legal251.com/legal-notice"><img class="megamenu_icon" src="https://legal251.com/images/icons/help.png" loading="lazy"><span class="hvr-sweep-to-right textres">Legal Notice
Prepration</span></a></li>
</ul>
</div>
</div>
</div>
</li>
</ul>
</li>
<li class="dropdown megamenu-fw ">
<a href="#" class="dropdown-toggle mytext6 m_togle">
Other Services
<i class="fa fa-angle-down down_arrow_hide" aria-hidden="true" style="display:inline-block;"></i></a>
<ul class="bimage dropdown-menu megamenu-content opadd" role="menu">
<li class="allcontent newincontent allcontent12">
<div class="row">
<div class="col-menu col-md-5 pleft">

<div class="megamenu_heading">
<img src="https://legal251.com/images/megamenubimage/Group_5675.png">
<div><span class="title mtitle">Other Services</span></div>
<hr class="headinghr">
</div>
<div class="content o_cpadd">
<ul class="menu-col" id="id01">
<li class="incontent"><a href="https://legal251.com/balance-sheet-prepration"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group 5926.svg" loading="lazy"><span class="hvr-sweep-to-right textres"> Balance Sheet Preparation &
P&L</span></a></li>
<li class="incontent"><a href="https://legal251.com/project-report-prepration"><img class="megamenu_icon" src="https://legal251.com/images/icons/Group 5927.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Project Report
Preparation</span> </a></li>
</ul>
</div>
</div>
</div>
</li>
</ul>
</li>
<li class="dropdown megamenu-fw ">
<a href="#" class="dropdown-toggle mytext7 m_togle">Utilities<i class="fa fa-angle-down down_arrow_hide" aria-hidden="true" style="display:inline-block;"></i></a>
<ul class="bimage dropdown-menu megamenu-content opadd" role="menu">
<li class="allcontent newincontent allcontent12">
<div class="row">
<div class="col-menu">
<div class="megamenu_heading">
<img src="https://legal251.com/images/megamenubimage/Group_5675.png">
<div><span class="title mtitle">Utilities </span></div>
<hr class="headinghr">
</div>
<div class="col-menu col-md-4 dcol">
<div class="content lo_cpadd">
<ul class="menu-col" id="id01">
<li class="incontent"><a href="https://legal251.com/GST-calculator"><img class="megamenu_icon" src="https://legal251.com/images/calculator_icons/gst.svg" loading="lazy"><span class="hvr-sweep-to-right textres">GST Calculator</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/SIP-calculator"><img class="megamenu_icon" src="https://legal251.com/images/calculator_icons/sip.svg" loading="lazy"><span class="hvr-sweep-to-right textres">SIP Calculator</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/EMI-calculator"><img class="megamenu_icon" src="https://legal251.com/images/calculator_icons/interest.svg" loading="lazy"><span class="hvr-sweep-to-right textres">EMI Calculator</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/FD-calculator"><img class="megamenu_icon" src="https://legal251.com/images/calculator_icons/fd.svg" loading="lazy"><span class="hvr-sweep-to-right textres">FD Calculator</span> </a>
</li>
</ul>
</div>
</div>
<div class="col-menu col-md-4">

<div class="content lo_cpadd">
<ul class="menu-col" id="id01">
<li class="incontent"><a href="https://legal251.com/80U-calculator"><img class="megamenu_icon" src="https://legal251.com/images/calculator_icons/Group_6457.svg" loading="lazy"><span class="hvr-sweep-to-right textres">80U Calculator</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/HRA-calculator"><img class="megamenu_icon" src="https://legal251.com/images/calculator_icons/hra.svg" loading="lazy"><span class="hvr-sweep-to-right textres">HRA Calculator</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/simple-interest"><img class="megamenu_icon" src="https://legal251.com/images/calculator_icons/interest-rate.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Simple Interest
Calculator</span> </a></li>
<li class="incontent"><a href="https://legal251.com/capital-gain-calulator"><img class="megamenu_icon" src="https://legal251.com/images/calculator_icons/capital_gain.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Capital Gain
Calculator</span> </a></li>
</ul>
</div>
</div>
<div class="col-menu col-md-4">

<div class="content lo_cpadd">
<ul class="menu-col" id="id01">
<li class="incontent"><a href="https://legal251.com/TDS-calculator"><img class="megamenu_icon" src="https://legal251.com/images/calculator_icons/tds.svg" loading="lazy"><span class="hvr-sweep-to-right textres">TDS Calculator</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/PPF-calculator"><img class="megamenu_icon" src="https://legal251.com/images/calculator_icons/ppf.svg" loading="lazy"><span class="hvr-sweep-to-right textres">PPF Calculator</span> </a>
</li>
<li class="incontent"><a href="https://legal251.com/Gratuity-calculator"><img class="megamenu_icon" src="https://legal251.com/images/calculator_icons/gratuaty.svg" loading="lazy"><span class="hvr-sweep-to-right textres">Gratuity Calculator</span>
</a></li>
<li class="incontent"><a href="https://legal251.com/RD-calculator"><img class="megamenu_icon" src="https://legal251.com/images/calculator_icons/rd.svg" loading="lazy"><span class="hvr-sweep-to-right textres">RD Calculator</span> </a>
</li>
</ul>
</div>
</div>
</div>


</div>
</li>
</ul>
</li>
</ul>
</div>
</div>


</nav>
<br><br><br>
<div class="errorpagemaindiv">
<p class="errortext">Oops! Page not found.</p>
<center>
<img src="https://legal251.com/images/404.svg" class="errorimage">
</center>
</div>
<br><br><br>
<footer class="mainfooter">
<div class="row">
<div class="col-xs-4">
<img src="https://legal251.com/images/legalwhitelogo.svg" class="footerlegallogo" loading="lazy">
</div>
<div class="col-xs-8 paymentrow">
<div class="row">
<div class="col-xs-2">
</div>
<div class="col-xs-4">
<center>
<img src="https://legal251.com/images/visa.svg" class="paymentimage" loading="lazy">
</center>
</div>
<div class="col-xs-6">
<center>
<img src="https://legal251.com/images/upi.svg" class="paymentimage" loading="lazy">
<div class="footerdemodiv"></div>
</center>
</div>
<div class="col-xs-4">
<center>
<img src="https://legal251.com/images/rupay.svg" class="paymentimage" loading="lazy">
</center>
</div>
<div class="col-xs-4">
<center>
<img src="https://legal251.com/images/paytm.svg" class="paymentimage" loading="lazy">
</center>
</div>
<div class="col-xs-2">
</div>
<div class="col-xs-2">
<center>
<img src="https://legal251.com/images/mastercard.svg" class="paymentimage" loading="lazy">
</center>
</div>
</div>
</div>
</div>
<div class="row" style="margin-top:6.4vw;">
<div class="col-md-6">
<div class="row">
<div class="col-md-4">
<p class="footerheading">Contact us</p>
<a href="/cdn-cgi/l/email-protection#e88b87869c898b9ca8848d8f8984daddd9c68b8785" style="text-decoration:underline;color:#fff" class="footertext"><span class="__cf_email__" data-cfemail="afccc0c1dbceccdbefc3cac8cec39d9a9e81ccc0c2">[email&#160;protected]</span></a><br>
<a href="tel:7772877729" style="text-decoration:underline;color:#fff" class="footertext">(+91)77728-77729</a><br>
</div>
<div class="col-md-3">
<p class="footerheading">Links</p>
<a href="https://blog.legal251.com" style="color:#fff" class="footertext">Latest News</a><br>
<a href="https://legal251.com/how-we-work" style="color:#fff" class="footertext">How we
work</a><br>
<a href="https://legal251.com/about" style="color:#fff" class="footertext">About
Us</a><br>
<a href="https://legal251.com/resources/" style="color:#fff" class="footertext">Blog</a><br>
<a href="https://legal251.com/resources/guides/" style="color:#fff" class="footertext">Guides</a>
</div>
<div class="col-md-5">
<p class="footerheading">Legal & Policies</p>
<a href="https://legal251.com/terms-and-conditions" style="color:#fff" class="footertext">Terms
&
Condition</a><br>
<a href="https://legal251.com/privacy-policy" style="color:#fff" class="footertext">Privacy
Policy</a><br>
<a href="https://legal251.com/cookie-policy" style="color:#fff" class="footertext">Cookie
Policy</a><br>
<a href="https://legal251.com/refund-policy" style="color:#fff" class="footertext">Refund
Policy</a>
</div>
</div>
</div>
<div class="col-md-6">
<div class="row">
<div class="col-md-3">
<p class="footerheading">Support</p>
<a href="https://legal251.com/faq" style="color:#fff" class="footertext">FAQs</a><br>
<a href="https://legal251.com/contact" style="color:#fff" class="footertext">Contact
us</a>
</div>
<div class="col-md-4">
<p class="footerheading">Account</p>
<a href="https://user.legal251.com/" style="color:#fff" class="footertext">
User Login</a><br>
<a href="https://partners.legal251.com/" style="color:#fff" class="footertext">
Partner Login</a><br>
<a href="https://legal251.com/track-service" style="color:#fff" class="footertext">Service
Tracking
Dashboard</a>
</div>
<div class="col-md-5">
<center>
<p class="Subscribeinfoheading">Subscribe for more info</p>
<div class="input-group Subscribeinfodiv">
<input type="email" id="footerEmail" maxlength="50" class="form-control Subscribeemail Subscribeinfoinput" placeholder="email..." style="border-color:#F4FC40;border-radius:40px;" placeholder="email..." required>
<div class="input-group-btn">
<button id="footersubmitemail" onclick="submitfooteremail()" class="Subscribeinfobutton" type="submit">
<img src="https://legal251.com/images/emailbutton.svg" class="Subscribeinfobuttonimg" loading="lazy">
</button>
</div>
</div>
<p id="footererror" class="Subscribeemail" style="color:#fe0c0c"></p>
<br>
<p class="Followusheading">Follow us on</p>
<a href="https://www.instagram.com/legal251india/" target="_blank"> <img src="https://legal251.com/images/footerinsta.svg" class="footersocialicon" loading="lazy"> </a> <a href="https://twitter.com/legal251" target="_blank"> <img src="https://legal251.com/images/fottertwitter.svg" class="footersocialicon" loading="lazy"> </a> <a href="https://www.linkedin.com/company/legal251/" target="_blank"> <img src="https://legal251.com/images/footerlinkedin.svg" class="footersocialicon" loading="lazy"> </a> <a href="https://www.facebook.com/legal251" target="_blank"> <img src="https://legal251.com/images/footerfb.svg" class=" footersocialicon" loading="lazy"> </a>
</center>
</div>
</div>
</div>
</div>
<p class="footerbottomtext" style="text-align:center">© 2023 ISONOMY LEGAL251 Private Limited. All Rights
Reserved
</p>
</footer>
<div class="modal fade" id="myModal1" role="dialog">
<div class="modal-dialog modalmainwidth" style="border:none;">

<div class="modal-content" style="border-radius:10px;border:none;">
<div class="modal-header subscribeemailpopupheader" style="display: block;border:none;background-color:#2d2d2d;border-radius:8px 8px 0 0;-webkit-box-shadow: 6px 7px 15px -13px rgba(0,0,0,1);-moz-box-shadow: 6px 7px 15px -13px rgba(0,0,0,1);box-shadow: 6px 7px 15px -13px rgba(0,0,0,1);">
<img src="https://legal251.com/images/popupcross2.svg" class="subscribeemailemailpopupclose" style="position:absolute;right:1.9%;top:0px;margin-top:1.4vw;" data-dismiss="modal" loading="lazy">
<h4 class="subscribeemailpopupheading">Thank you for subscribing newsletter</h4>
</div>
<div class="modal-body">
<div class="legallandingnorow">
<div class="legallandingnocol" style="padding:0px 1.46vw;margin:0px;vertical-align:middle;">
<p class="email-content verificationtext">A verification link<br> has been sent.<br>
Please verify your e-mail address</p>
</div>
<div class="legallandingnocol">
<img src="https://legal251.com/images/EMAIL.png" class="verificationimg" loading="lazy">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="scrolltop">
<div class="scroll icon">
<center>
<img src="https://legal251.com/images/Icon ionic-ios-arrow-back (1).svg" class="scrolltopimage">
</center>
</div>
</div>
<div class="modal fade" id="myModal1" role="dialog">
<div class="modal-dialog modalmainwidth" style="border:none;">

<div class="modal-content" style="border-radius:10px;border:none;">
<div class="modal-header subscribeemailpopupheader" style="display: block;border:none;background-color:#2d2d2d;border-radius:8px 8px 0 0;-webkit-box-shadow: 6px 7px 15px -13px rgba(0,0,0,1);
-moz-box-shadow: 6px 7px 15px -13px rgba(0,0,0,1);
box-shadow: 6px 7px 15px -13px rgba(0,0,0,1);
">
<img src="https://legal251.com/images/popupcross2.svg" class="subscribeemailemailpopupclose" style="position:absolute;right:1.9%;top:0px;margin-top:1.4vw;" data-dismiss="modal">
<h4 class="subscribeemailpopupheading">Thank you for subscribing newsletter</h4>
</div>
<div class="modal-body">
<div class="legallandingnorow">
<div class="legallandingnocol" style="padding:0px 1.46vw;margin:0px;vertical-align:middle;">
<p class="email-content verificationtext">A verification link<br> has been sent.<br>
Please verify your e-mail address</p>
</div>
<div class="legallandingnocol">
<img src="https://legal251.com/images/EMAIL.png" class="verificationimg">
</div>
</div>
</div>
</div>
</div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/owl.carousel.min.js"></script>
<script src="https://legal251.com/js/bootsnav.js"></script>
<script src="https://legal251.com/js/slider.js"></script>
<script src="https://legal251.com/js/script.js"></script>
<script src="https://legal251.com/js/headeranimation.js"></script>
</div>
<script>
            $(function() {
                function reposition() {
                    var modal = $(this),
                        dialog = modal.find('.modal-dialog');
                    modal.css('display', 'block');

                    // Dividing by two centers the modal exactly, but dividing by three
                    // or four works better for larger screens.
                    dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
                }
                // Reposition when a modal is shown
                $('.modal').on('show.bs.modal', reposition);
                // Reposition when the window is resized
                $(window).on('resize', function() {
                    $('.modal:visible').each(reposition);
                });
            });
        </script>
<script>
            $(document).ready(function() {

                $("#pop-input").keyup(function() {
                    var search_entered = $("#pop-input").val();

                    var submit = "submit";

                    $.ajaxSetup({
                        headers: {
                            'X-CSRF-TOKEN': $('meta[name="_token"]').attr('content')
                        }
                    });

                    $.ajax({
                        url: "https://legal251.com/index/search",
                        method: 'POST',
                        data: {
                            search_entered: search_entered,
                            submit: submit,
                            _token: ''
                        },
                        success: function(data) {
                            $(".pop-data").html(data);
                        }
                    });

                });

            });

            function submitfooteremail() {
                var userEmail = $('#footerEmail').val();
                var reg = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
                if (userEmail.trim() == '') {
                    $('#footererror').html('Please enter your email.');
                    $('#footerEmail').focus();
                    return false;
                } else if (userEmail.trim() != '' && !reg.test(userEmail)) {
                    $('#footererror').html('Please enter valid email.');
                    $('#footerEmail').focus();
                    return false;
                } else {
                    $.ajaxSetup({
                        headers: {
                            'X-CSRF-TOKEN': $('meta[name="_token"]').attr('content')
                        }
                    });
                    $.ajax({
                        type: 'POST',
                        url: "https://legal251.com/index/newsletter",
                        data: {
                            userEmail: userEmail,
                            _token: ''
                        },
                        beforeSend: function() {
                            $('#footersubmitemail').attr("disabled", "disabled");
                        },
                        success: function(status) {
                            $('#footerEmail').val('');

                            if (status == 'success') {
                                $('#myModal1').modal('show');
                            } else if (status == 'before') {
                                $('#myModal1').modal('show');
                                $('.email-content').html(
                                    'An E-mail has already been sent please return after 1 hour.');
                            } else if (status == 'exists') {
                                $('#myModal1').modal('show');
                                $('.email-content').html('This E-mail already exists in newsletter.');
                            } else if (status == 'resent') {
                                $('#myModal1').modal('show');
                                $('.email-content').html(
                                    'Another verification link has been sent. Please verify your e-mail address.'
                                    );
                            } else if (status == 'error') {
                                $('#myModal1').modal('show');
                                $('.email-content').html(
                                'An unexpected error occured please retry after sometime.');
                            }

                            $('#footersubmitemail').removeAttr("disabled");
                        }
                    });

                }
            }
        </script>
</body>
</html>
